body {
    background: grey;
    background-size: cover;
    -webkit-animation: bg-color 5s infintite;
    animation: bg-color 15s infinite;
  }
  
  @-webkit-keyframes bg-color {
    14.3% {
      background-color: #C77DF3;
    }
    28.6% {
      background-color: #8A2BE2;
    }
    42.9% {
      background-color: #0000ff;
    }
    57.2% {
      background-color: #00ff00;
    }
    71.5% {
      background-color: #ffdd00;
    }
    85.8% {
      background-color: #ff7700;
    }
    100% {
      background-color: #FF0000;
    }
  }
  
  @keyframes bg-color {
    14.3% {
      background-color: #C77DF3;
    }
    28.6% {
      background-color: #8A2BE2;
    }
    42.9% {
      background-color: #0000ff;
    }
    57.2% {
      background-color: #00ff00;
    }
    71.5% {
      background-color: #ffdd00;
    }
    85.8% {
      background-color: #ff7700;
    }
    100% {
      background-color: #FF0000;
    }
  }
  
  
@keyframes text {
    0% {
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }

    30% {
        letter-spacing: 5px;
        color: rgb(93, 8, 8);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    85% {
        letter-spacing: 5px;
        color: rgb(235, 220, 11);
        
    }
}